/*----------------------------------------*\
  CARD
  Currently only for grid demonstration
\*----------------------------------------*/

.card {
  @apply p-4;
  @apply text-black bg-gray-400 shadow;
}
