/*----------------------------------------*\
  CARD
  Currently only for grid demonstration
\*----------------------------------------*/

.card {
  @apply p-3 bg-gray-400 border border-gray-500;
  @apply text-center text-black;
}
